<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARjKTMocpMyguiqKmWbj5fyZWjNAgWp5U</string>
	<key>GCM_SENDER_ID</key>
	<string>926669271574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocFirestore</string>
	<key>PROJECT_ID</key>
	<string>bloc-firestore-ticket-988</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-firestore-ticket-988.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926669271574:ios:de475140940981375f3b37</string>
</dict>
</plist>